{% extends 'layout.html' %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Batch 1 records
      </h1>
      
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>

        <h2 class="nhsuk-heading-m">There are 1,298 records in this batch</h2>
      
      </div>

      <h2 class="nhsuk-heading-m">Records with amended data</h2>

      <p>There are 36 records that need reviewing.</p>

      {{ button({
        text: "View all amended records",
        href: "outstanding"
      }) }}

      <div class="nhsuk-u-padding-bottom-4"></div>

      <h2 class="nhsuk-heading-m">Records with complete data that don't need reviewing</h2>

      <p>There are 1,263 records that you can review.</p>

      {{ button({
        text: "View all complete records",
        href: "completed"
      }) }}
      

    </div>
  </div>
{% endblock %}
