{% extends 'layout-type-2.html' %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Rejected batches of records
      </h1>

      {{ table({
        responsive: true,
        panel: false,
        firstCellIsHeader: true,
        head: [
          {
            text: "Batch name"
          },
          {
            text: "Number of rejected records"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              header: "Name",
              html: '<a href="rejected">Batch 1</a>'
            },
            {
              header: "Number of records",
              text: "3"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 2</a>'
            },
            {
              header: "Number of records",
              text: "11"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 3</a>'
            },
            {
              header: "Number of records",
              text: "24"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 4</a>'
            },
            {
              header: "Number of records",
              text: "9"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 5</a>'
            },
            {
              header: "Number of records",
              text: "1"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 6</a>'
            },
            {
              header: "Number of records",
              text: "21"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 7</a>'
            },
            {
              header: "Number of records",
              text: "82"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="person-details">Batch 8</a>'
            },
            {
              header: "Number of records",
              text: "15"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 9</a>'
            },
            {
              header: "Number of records",
              text: "4"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 10</a>'
            },
            {
              header: "Number of records",
              text: "35"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ]
        ]
      }) }}

      <div class="nhsuk-u-padding-bottom-4"></div>

      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>

      

    </div>
  </div>
{% endblock %}
