// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';
@import 'components/pagination';
@import 'components/sub-navigation';
@import 'components/app-count';
@import 'components/card';

//custom styes or extensions to NHS.UK frontend library
.nhsuk-date-input {
  &__label {
    @include nhsuk-font(16);
  }
}

.nhsuk-summary-list {
  &.dt-40 {
    dt { width: 40%; }
  }
}

.mccloud-record {
  &-error {
    color: $nhsuk-error-colour;
  }
  &-no-value,
  &-warning {
    color: nhsuk-colour("grey-1");
  }
}

.mccloud-summary-card {
  border: 1px solid map-get($nhsuk-colours, "grey-4");
  @include nhsuk-responsive-margin(5, bottom);
  background-color: #ffffff;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include nhsuk-responsive-padding(3, all);
    background-color: map-get($nhsuk-colours, "grey-5");

    .record-actions {
      a {
        margin: 0 5px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__content {
    @include nhsuk-responsive-padding(3, all);

    //special overrides for the summary list
    >.nhsuk-summary-list {
      margin-bottom: 0;
    }
    >.nhsuk-summary-list .nhsuk-summary-list__row:last-child {
      border-bottom: none;
    }
  }

  &__title,
  &__action {
    @include nhsuk-font-size(19);
    margin: 0;
  }

}
