// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';
@import 'components/pagination';
@import 'components/sub-navigation';
@import 'components/app-count';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.nhsuk-header__search {
    position: relative;
    text-align: right
}

@media(min-width: 40.0625em) {
    .nhsuk-header__search {
        margin-left: 8px
    }
}

.nhsuk-header__search-form {
    height: 100%;
    overflow: visible
}

@media(max-width: 40.0525em) {
    .nhsuk-header__search-form {
        display: flex;
        margin: 16px 0 0;
        position: relative;
        width: 100%
    }
}

@media(min-width: 40.0625em) {
    .nhsuk-header__search-wrap {
        display: block
    }
}

.nhsuk-search__input {
    -webkit-appearance: listbox;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    padding: 0 16px
}

.nhsuk-search__input:focus {
    border: 4px solid #212b32;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid rgba(0, 0, 0, 0);
    outline-offset: 4px;
    padding: 0 13px
}

.nhsuk-search__input::placeholder {
    color: #4c6272;
    font-size: 16px;
    opacity: 1
}

.nhsuk-search__input:-ms-input-placeholder {
    color: #4c6272;
    font-size: 16px
}

.nhsuk-search__input::-webkit-input-placeholder {
    color: #4c6272;
    font-size: 16px
}

@media(max-width: 40.0525em) {
    .nhsuk-search__input {
        border: 1px solid #fff;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        flex-grow: 2;
        -ms-flex-positive: 2;
        font-size: inherit;
        height: 40px;
        margin: 0;
        outline: none;
        width: 100%;
        z-index: 1
    }
}

@media(min-width: 40.0625em) {
    .nhsuk-search__input {
        border: 1px solid #fff;
        font-size: 16px;
        height: 40px;
        width: 200px
    }
}

@media(min-width: 48.0625em) {
    .nhsuk-search__input {
        width: 235px
    }
}

.nhsuk-search__submit {
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding: 0
}

.nhsuk-search__submit::-moz-focus-inner {
    border: 0
}

.nhsuk-search__submit:hover {
    cursor: pointer
}

@media(max-width: 40.0525em) {
    .nhsuk-search__submit {
        background-color: #f0f4f5;
        border: 0;
        height: 40px;
        margin: 0;
        padding: 8px 8px 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9
    }

    .nhsuk-search__submit .nhsuk-icon__search {
        fill: #005eb8;
        height: 27px;
        width: 27px
    }

    .nhsuk-search__submit:hover {
        background-color: rgb(0, 61.1, 119.6);
        border: 1px solid #fff
    }

    .nhsuk-search__submit:hover .nhsuk-icon {
        fill: #fff
    }

    .nhsuk-search__submit:focus {
        background-color: #ffeb3b;
        box-shadow: 0 -4px #ffeb3b, 0 4px #212b32;
        outline: 4px solid rgba(0, 0, 0, 0);
        outline-offset: 4px
    }

    .nhsuk-search__submit:focus:hover {
        background-color: #ffeb3b
    }

    .nhsuk-search__submit:focus:hover .nhsuk-icon {
        fill: #212b32
    }

    .nhsuk-search__submit:focus .nhsuk-icon {
        fill: #212b32
    }
}

@media(min-width: 40.0625em) {
    .nhsuk-search__submit {
        background-color: #f0f4f5;
        display: block;
        height: 40px;
        line-height: 1;
        width: 44px
    }

    .nhsuk-search__submit .nhsuk-icon__search {
        height: 27px;
        width: 27px
    }

    .nhsuk-search__submit:hover {
        background-color: rgb(0, 61.1, 119.6);
        border: 1px solid #fff
    }

    .nhsuk-search__submit:hover .nhsuk-icon__search {
        fill: #fff
    }

    .nhsuk-search__submit:focus {
        box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
        background-color: #ffeb3b;
        border: 0;
        box-shadow: 0 4px 0 0 #212b32;
        color: #212b32;
        outline: 4px solid rgba(0, 0, 0, 0);
        outline-offset: 4px
    }

    .nhsuk-search__submit:focus .nhsuk-icon {
        fill: #212b32
    }

    .nhsuk-search__submit:active {
        background-color: #002f5c;
        border: 0
    }

    .nhsuk-search__submit:active .nhsuk-icon__search {
        fill: #fff
    }
}

.nhsuk-header__search-wrap {
    margin-bottom: 16px
}

@media(max-width: 40.0525em) {
    .nhsuk-header--white .nhsuk-header__search-wrap::after {
        background: #fff
    }
}

.nhsuk-header--white .nhsuk-navigation-container {
    background-color: #005eb8
}

.nhsuk-header--white .nhsuk-navigation {
    border-top-width: 0
}

.nhsuk-header--white .nhsuk-logo .nhsuk-logo__background {
    fill: #005eb8
}

.nhsuk-header--white .nhsuk-logo .nhsuk-logo__text {
    fill: #fff
}

.nhsuk-header--white .nhsuk-header__link:hover {
    color: #212b32;
    text-decoration: underline
}

.nhsuk-header--white .nhsuk-header__link:hover .nhsuk-organisation-descriptor {
    color: #212b32
}

.nhsuk-header--white .nhsuk-search__submit {
    background-color: #005eb8
}

.nhsuk-header--white .nhsuk-search__submit .nhsuk-icon__search {
    fill: #fff
}

.nhsuk-header--white .nhsuk-search__submit:hover {
    background-color: rgb(0, 75.2, 147.2);
    border-color: rgb(0, 75.2, 147.2)
}

.nhsuk-header--white .nhsuk-search__submit:focus {
    background-color: #ffeb3b
}

.nhsuk-header--white .nhsuk-search__submit:focus .nhsuk-icon__search {
    fill: #212b32
}

.nhsuk-header--white .nhsuk-search__input {
    border: 1px solid #aeb7bd
}

.nhsuk-header--white .nhsuk-search__input:focus {
    border: 2px solid #212b32
}

@media(max-width: 40.0525em) {
    .nhsuk-header--white .nhsuk-search__input:focus {
        border: 4px solid #212b32
    }
}

@media(max-width: 40.0525em) {
    .nhsuk-header--white .nhsuk-header__search-form {
        padding-top: 0
    }
}

.nhsuk-header__search-form--search-results {
    background-color: rgba(0, 0, 0, 0);
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%
}

.nhsuk-header__search-form--search-results {
    margin-bottom: 40px
}

@media(min-width: 40.0625em) {
    .nhsuk-header__search-form--search-results {
        margin-bottom: 48px
    }
}

.nhsuk-header__search-form--search-results .autocomplete-container {
    width: 100%
}

.nhsuk-header__search-form--search-results .autocomplete__menu--hidden {
    display: none
}

.nhsuk-header__search-form--search-results .autocomplete__input,
.nhsuk-header__search-form--search-results .nhsuk-search__input {
    -ms-flex-positive: 2;
    -webkit-appearance: listbox;
    background-color: #fff !important;
    border-bottom: 1px solid #aeb7bd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-left: 1px solid #aeb7bd;
    border-right: 0;
    border-top: 1px solid #aeb7bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px;
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: 100%
}

.nhsuk-header__search-form--search-results .autocomplete__input:focus,
.nhsuk-header__search-form--search-results .nhsuk-search__input:focus {
    border: 4px solid #ffeb3b;
    box-shadow: inset 0 0 0 4px #212b32
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit {
    background-color: #007f3b;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    height: 52px;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 8px 8px 0;
    width: 52px
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit .nhsuk-icon__search {
    fill: #fff;
    height: 38px;
    width: 38px
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit::-moz-focus-inner {
    border: 0
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:hover {
    background-color: rgb(0, 101.6, 47.2);
    cursor: pointer
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:focus {
    background-color: #ffeb3b;
    border-bottom: 4px solid #212b32
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:focus .nhsuk-icon__search {
    fill: #212b32
}

.app-search-results-item {
    text-decoration: none
}

.app-search-results-item {
    font-weight: 600
}

.app-search-results-item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.42105
}

@media(min-width: 40.0625em) {
    .app-search-results-item {
        font-size: 22px;
        font-size: 1.375rem;
        line-height: 1.36364
    }
}

@media print {
    .app-search-results-item {
        font-size: 15pt;
        line-height: 1.25
    }
}

.app-search-results-item:hover {
    text-decoration: underline
}

.app-search-results-item::first-letter {
    text-transform: uppercase
}

.app-search-results-category {
    color: #4c6272;
    display: block;
    font-size: 14px
}
