// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/notification-banner';
@import 'components/pagination';
@import 'components/sub-navigation';
@import 'components/app-count';
@import 'components/card';

//custom styes or extensions to NHS.UK frontend library
.nhsuk-date-input {
  &__label {
    @include nhsuk-font(16);
  }
}

.mccloud-record + .mccloud-record {
  @include nhsuk-responsive-padding(5, top);
  border-top: 1px solid map-get($nhsuk-colours, "grey-4");;
}

.mccloud-record {
  &-error {
    color: map-get($nhsuk-colours, "red");
  }
  &-no-value {
    color: map-get($nhsuk-colours, "grey-2");
  }
}

.mccloud-summary-card {
  border: 1px solid map-get($nhsuk-colours, "grey-4");
  @include nhsuk-responsive-margin(5, bottom);

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include nhsuk-responsive-padding(3, all);
    background-color: map-get($nhsuk-colours, "grey-5");
  }

  &__content {
    @include nhsuk-responsive-padding(3, all);
  }

  &__title,
  &__action {
    @include nhsuk-font-size(19);
    margin: 0;
  }

}