{% extends 'layout.html' %}

{% block beforeContent %}
  {{ backLink({
    href: "./record"
  }) }}
{% endblock %}

{% set pageName = "Correct values for " + data.v2.record[recordSet].title | lower %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      {% if errorsList %}
      {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorsList
        }) }}
      {% endif %}

      <span class="nhsuk-caption-xl">{{ data.v2.pensioner.name }}, {{ data.v2.pensioner.dob | formatRecord('date') }}</span>
      <h1 class="nhsuk-heading-xl">{{ data.v2.record[recordSet].title }}</h1>


      <form method="post" action="./edit-record-set/{{ recordSet }}" class="nhsuk-form">
        <input type="hidden" name="recordSet" value="{{ recordSet }}">

        {# Loop over each record in this record set #}
        {% for recordId, record in data.v2.record[recordSet].items %}

          {% if record.required %}<input type="hidden" name="{{ recordId }}-required" value="true">{% endif %}

            {# This is verbose, but is at least easy to read... #}
            {% if record.type == "text" %}
              {{ input({
                  label: {
                    text: record.title
                  },
                  name: recordId,
                  value: record.value,
                  errorMessage: {
                    text: errors[recordId]
                  } if errors[recordId]
                }) }}
            {% elif record.type == "number" %}
              {{ input({
                label: {
                  text: record.title
                },
                value: record.value,
                name: recordId,
                classes: "nhsuk-input--width-5",
                inputmode: "numeric",
                errorMessage: {
                  text: errors[recordId]
                } if errors[recordId]
              }) }}
            {% elif record.type == "currency" %}
              {{ input({
                label: {
                    text: record.title
                },
                name: recordId,
                prefix: "£",
                value: record.value,
                classes: "nhsuk-input--width-5",
                errorMessage: {
                  text: errors[recordId]
                } if errors[recordId]
              }) }}
            {% elif record.type == "date" %}
              {{ dateInput({
                fieldset: {
                  legend: {
                    text: record.title
                  }
                },
                id: recordId,
                name: recordId,
                errorMessage: {
                  text: errors[recordId]
                } if errors[recordId],
                items: [
                  {
                    name: "day",
                    classes: "nhsuk-input--width-2",
                    value: record.value | splitString(2)
                  },
                  {
                    name: "month",
                    classes: "nhsuk-input--width-2",
                    value: record.value | splitString(1)
                  },
                  {
                    name: "year",
                    classes: "nhsuk-input--width-4",
                    value: record.value | splitString(0)
                  }
                ]
              }) }}
            {% elif record.type == "daysAndYears" %}
              {{ dateInput({
                fieldset: {
                  legend: {
                    text: record.title
                  }
                },
                id: recordId,
                namePrefix: recordId,
                errorMessage: {
                  text: errors[recordId]
                } if errors[recordId],
                items: [
                  {
                    name: "years",
                    classes: "nhsuk-input--width-2",
                    value: record.value | splitString(1)
                  },
                  {
                    name: "days",
                    classes: "nhsuk-input--width-3",
                    value: record.value | splitString(0)
                  }
                ]
              }) }}
            {% else %}
              <p class="nhsuk-body">Unknown record type '{{ record.type }}' for record '{{ record.title }}'</p>
            {% endif %}



        {% endfor %}
        <div class="nhsuk-button-group">
        {{ button({
          text: "Save and continue"
        }) }}
        {% if data.v2.record[recordSet].canDelete %}
        {{ button({
          text: "Delete " + data.v2.record[recordSet].title,
          href: "#",
          classes: "nhsuk-button--warning"
        }) }}
        {% endif %}
        </div>
      </form>


  </div>
</div>
{% endblock %}
