{% extends "../../layout.html" %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Submit and generate letters
      </h1>

    <p>If the data you have reviewed is correct, select confirm to generate the letters that will be sent to the relevant pensioners.</p>

      {{ button({
        text: "Confirm",
        href: 'completed-batches-success'
      }) }}

      

    </div>
  </div>
{% endblock %}
