{% extends "../../layout.html" %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Check your reviewed information
      </h1>

      <h2 class="nhsuk-heading-m">Current benefits</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Lifetime allowance"
            },
            value: {
              text: "This is some free text that the user type 2 user has entered that explains what is wrong with the information provided by user type 1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Option A</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Legacy deemed date"
            },
            value: {
              text: "This is some free text that the user type 2 user has entered that explains what is wrong with the information provided by user type 1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 payable date"
            },
            value: {
              text: "This is some free text that the user type 2 user has entered that explains what is wrong with the information provided by user type 1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ button({
        text: "Submit",
        href: "outstanding-success-rejected"
      }) }}

      

    </div>
  </div>
{% endblock %}