{% extends '../layout-type-2.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l">Jane Doe</span>
      <h1 class="nhsuk-heading-l">
        Current benefits
      </h1>

      {% from "summary-list/macro.njk" import summaryList %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Lifetime allowance"
            },
            value: {
              text: "£2,019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Benefit crystalisation event date"
            },
            value: {
              html: "29 June 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ button({
        text: "Continue",
        href: "options"
      }) }}

      

    </div>
  </div>
{% endblock %}
