{% extends '../layout-type-2.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l">Jane Doe</span>
      <h1 class="nhsuk-heading-l">
        Current benefits
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Lifetime allowance
          </dt>
          <dd class="nhsuk-summary-list__value">
            £2,019<br><br><p>This is some free text that the user type 2 user has entered that explains what is wrong with the information provided by user type 1</p>
          </dd>
          
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Benefit crystalisation event date
          </dt>
          <dd class="nhsuk-summary-list__value">
            29 June 2019
          </dd>
        </div>
      </dl>

      {{ button({
        text: "Continue",
        href: "options-read"
      }) }}

      

    </div>
  </div>
{% endblock %}
