{% extends "../../layout.html" %}
{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l">Jane Doe</span>
      <h1 class="nhsuk-heading-l">
        Review the two options
      </h1>

      <h2 class="nhsuk-heading-m">Option A</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Legacy pension"
            },
            value: {
              text: "£4051.34"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy lump sum"
            },
            value: {
              html: "£1,208"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy deemed date"
            },
            value: {
              text: data['legacy-deemed-date'] or "No information added"
            },
            actions: {
              items: [
                {
                  href: "add-legacy-deemed-date-2",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy payable date"
            },
            value: {
              html: "29 June 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 pension"
            },
            value: {
              html: "£6,091"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 lump sum"
            },
            value: {
              html: "£3,091"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 payable date"
            },
            value: {
              text: data['payable-date-of-benefits'] or "No information added"
            },
            actions: {
              items: [
                {
                  href: "add-payable-date-of-benefits-2",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
            {
              key: {
                text: "2015 deemed date"
              },
              value: {
                html: "25 April 2019"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Review",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
              {
                key: {
                  text: "LTA"
                },
                value: {
                  html: "£1,201"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Review",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">
        Option B
      </h2>


      {{ summaryList({
        rows: [
          {
            key: {
              text: "Legacy pension"
            },
            value: {
              text: "£4051.34"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy lump sum"
            },
            value: {
              html: "£1,208"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy deemed date"
            },
            value: {
              html: "29 June 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Legacy payable date"
            },
            value: {
              html: "29 June 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 pension"
            },
            value: {
              html: "£6,091"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 lump sum"
            },
            value: {
              html: "£3,091"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "2015 payable date"
            },
            value: {
              html: "25 April 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Review",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
            {
              key: {
                text: "2015 deemed date"
              },
              value: {
                html: "25 April 2019"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Review",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
              {
                key: {
                  text: "LTA"
                },
                value: {
                  html: "£1,201"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Review",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              
          }
        ]
      }) }}

      {{ button({
        text: "Continue",
        href: "check-answers"
      }) }}

      

    </div>
  </div>
{% endblock %}
