{% extends 'layout.html' %}
{% set pageName = "Outstanding batches" %}

{% block content %}

<h2 class="nhsuk-heading-l">Outstanding batches of records</h2>
<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Batch ID</th>
      <th scope="col" class="nhsuk-table__header">Invalid records</th>
      <th scope="col" class="nhsuk-table__header">Status</th>
      <th scope="col" class="nhsuk-table__header">Created</th>
      <th scope="col" class="nhsuk-table__header">Action</th
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for id, record in data.v3t2.batches.outstanding %}
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ record.name }}</td>
      <td class="nhsuk-table__cell">{{ record.count }}</td>
      <td class="nhsuk-table__cell">Invalid records</td>
      <td class="nhsuk-table__cell">{{ record.date | niceDate }}</td>
      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/v3/type-2/batch-details/{{ id }}">View batch</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
