{% extends 'layout.html' %}
{% set pageName = 'Pension record for ' + member.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-2/search"
  }) }}
{% endblock %}

{% macro recordSummary(recordSet, tab) %}
{# Calculate how many missing values there are in this record set #}
{% set totalErrors = 0 %}
{% set totalWarnings = 0 %}
{% for id, record in recordSet.items %}
  {% if record.valid == false %}{% set totalErrors = totalErrors + 1 %}{% endif %}
  {% if record.warning %}{% set totalWarnings = totalWarnings + 1 %}{% endif %}
{% endfor %}

<div class="mccloud-summary-card" id="{{ recordSet.id }}">
  <div class="mccloud-summary-card__title-wrapper">
    <h2 class="mccloud-summary-card__title">{{ recordSet.title }}{% if totalErrors > 0 %} ({{ totalErrors }} {{ 'error' | plural(totalErrors) }}{% if totalWarnings > 0 %}, {{ totalWarnings }} {{ 'warning' | plural(totalWarnings) }}{% endif %}){% endif %}</h2>
  </div>

  <div class="mccloud-summary-card__content">

    <dl class="nhsuk-summary-list">
      {% for id, record in recordSet.items %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">{{ record.title }}</dt>
        <dd class="nhsuk-summary-list__value">
          {{ record.value | formatRecord(record.type) }}
          {% if record.value == '' %}<span class="mccloud-record-no-value">No value</span>{% endif %}
          {% if (record.error and record.valid == false) %}<br><span class="mccloud-record-error">Error: {{ record.error }}</span>{% endif %}
          {% if record.warning %}<br><span class="mccloud-record-warning">Warning: {{ record.warning }}</span>{% endif %}
        </dd>
      </div>
      {% endfor %}
    </dl>

  </div>
</div>
{% endmacro %}

{% block content %}
{% set personalDetailsHtml %}
{% set invalidRecords = 0 %}
{% for recordId, recordSet in data.v3t2.record %}
  {% for id, record in recordSet.items %}
    {% if record.valid == false %}
      {% set invalidRecords = invalidRecords + 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ summaryList({
  classes: 'nhsuk-summary-list--no-border dt-40',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: member.name
      }
    },
    {
      key: {
        text: "Membership number"
      },
      value: {
        html: member.membershipNumber
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: member.dob | niceDate
      }
    }
  ]
}) }}
{% endset %}

{% if (complete and invalidRecords > 0) %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in the section “{{ data.v3t2.record[complete].title }}” are complete.</p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

{% if invalidRecords == 0 %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in this record are complete.<br><a href="/v3/type-2/search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if excluded %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">This pension record has been excluded. <a href="/v3/type-2/search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if newSplit %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">Added <a href="#{{ newSplit }}">{{ data.v3t2.record[newSplit].title }}</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl {% if data.ui == 'default' or data.ui is undefined %}nhsuk-u-margin-bottom-4{% endif %}">{{ pageName }}</h1>
    {% if data.ui == "default" or data.ui is undefined %}
    <div class="nhsuk-button-group">
      <a class="nhsuk-button nhsuk-u-margin-bottom-2" href="#">View calculations</a>
      <a class="nhsuk-button nhsuk-button--warning nhsuk-u-margin-bottom-2" href="#">Reject this pensioner</a>
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="?ui=alt">Toggle UI</a>
    </div>
    {% endif %}
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    {{ personalDetailsHtml | safe }}

    <nav class="nhsuk-contents-list" role="navigation" aria-label="Sections in this record">
      <h2 class="nhsuk-heading-m">Sections in this record</h2>
      <ol class="nhsuk-contents-list__list">
        {% for recordId, recordSet in data.v3t1.record %}
        {% set missingValues = 0 %}
        {% set warningValues = 0 %}
        {% for id, record in recordSet.items %}
        {% if record.valid == false %}{% set missingValues = missingValues + 1 %}{% endif %}
        {% if record.warning %}{% set warningValues = warningValues + 1 %}{% endif %}
        {% endfor %}
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#{{ recordSet.id }}">{{ recordSet.title }}</a>{% if missingValues > 0 %} ({{ missingValues }} {{ 'error' | plural(missingValues) }}{% if warningValues > 0 %}, {{ warningValues }} {{ 'warning' | plural(warningValues)}}{% endif %}){% endif %}
        </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
  {% if data.ui == "alt" %}
  <div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Actions</h3>
    <ul class="nhsuk-list">
      <li><a class="nhsuk-button nhsuk-u-margin-bottom-2" href="../split-benefit">Add a split benefit</a></li>
      <li><a class="nhsuk-button nhsuk-button--warning nhsuk-u-margin-bottom-2" href="#">Exclude this pensioner</a></li>
      <li><a class="nhsuk-link nhsuk-link--no-visited-state" href="?ui=default">Toggle UI</a></li>
    </ul>
    <div class="nhsuk-button-group">
    </div>
  </div>
  {% endif %}
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% for recordId, recordSet in data.v3t2.record %}
    {{ recordSummary(recordSet, '') }}
    {% endfor %}
  </div>
</div>

{% endblock %}
