{% extends 'layout.html' %}

{% block beforeContent %}
  {{ backLink({
    href: "/v2/type-2/record"
  }) }}
{% endblock %}

{% set pageName = "Add a split benefit" %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-xl">{{ data.v3t2.pensioner.name }}, {{ data.v3t2.pensioner.dob | formatRecord('date') }}</span>
    <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

    <form class="nhsuk-form" action="/v2/type-2/split-benefit" method="post">
      {{ radios({
        idPrefix: "scheme",
        name: "scheme",
        classes: "nhsuk-radios--inline",
        fieldset: {
          legend: {
            text: "Which benefit do you need to split?"
          }
        },
        items: [
          {
            value: "Option A",
            text: "Option A"
          },
          {
            value: "Option B",
            text: "Option B"
          }
        ]
      }) }}

      {{ input({
        label: {
            text: "Protected pay amount"
        },
        id: "protected-pay-amount",
        name: "protected-pay-amount",
        prefix: "£",
        classes: "nhsuk-input--width-5"
      }) }}

      {{ dateInput({
        id: "protected-pay-date",
        namePrefix: "protected-pay-date",
        fieldset: {
          legend: {
            text: "Protect pay date"
          }
        },
        hint: {
          text: "For example, 287 days and 11 years"
        },
        items: [
          {
            name: "days",
            classes: "nhsuk-input--width-3"
          },
          {
            name: "years",
            classes: "nhsuk-input--width-2"
          }
        ]
      }) }}

      {{ input({
        label: {
            text: "Pension"
        },
        id: "pension",
        name: "pension",
        prefix: "£",
        classes: "nhsuk-input--width-5"
      }) }}

      {{ input({
        label: {
            text: "Lump Sum"
        },
        id: "lump-sum",
        name: "lump-sum",
        prefix: "£",
        classes: "nhsuk-input--width-5"
      }) }}

      {{ dateInput({
        id: "deemed-date",
        namePrefix: "deemed-date",
        fieldset: {
          legend: {
            text: "Deemed date"
          }
        },
        hint: {
          text: "For example, 287 days and 11 years"
        },
        items: [
          {
            name: "days",
            classes: "nhsuk-input--width-3"
          },
          {
            name: "years",
            classes: "nhsuk-input--width-2"
          }
        ]
      }) }}
      {{ button({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
