{% extends 'layout.html' %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-2/edit-record-set/" + recordSet
  }) }}
{% endblock %}

{% set pageName = "Warnings for " + data.v3t2.record[recordSet].title | lower %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-xl">{{ data.v3t2.pensioner.name }}, {{ data.v3t2.pensioner.dob | formatRecord('date') }}</span>
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      <p>Some entries in this record fall outside of expected values. You should check the values are correct before you continue.</p>
      <dl class="nhsuk-summary-list">
        {% for id, record in data.v3t2.record[recordSet].items %}
        {% if record.warning %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">{{ record.title }}</dt>
          <dd class="nhsuk-summary-list__value">{{ record.value | formatRecord(record.type) }}<br><span class="mccloud-record-warning">{{ record.warning }}</span></dd>
        </div>
        {% endif %}
        {% endfor %}
      </dl>
      {{ button({
        text: "Continue",
        href: "../record?complete=" + recordSet
      }) }}


  </div>
</div>
{% endblock %}
