{% extends "../../layout.html" %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Batch 11 records
      </h1>


      <h2 class="nhsuk-heading-m">Records that have been completed</h2>

      <p>There are 1,263 records that have had letters generated.</p>

      {{ button({
        text: "View all complete records",
        href: "completed-2"
      }) }}
      

    </div>
  </div>
{% endblock %}
