{% extends 'layout.html' %}

{% block beforeContent %}
  {{ backLink({
    href: "/version-2/record/" + record_id
  }) }}
{% endblock %}

{% set pageName = "Correct values for " + data.v2.record[recordSet].title | lower %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-xl">{{ data.v2.pensioners[record_id].name }}, {{ data.v2.pensioners[record_id].dob | formatRecord('date') }}</span>
      <h1 class="nhsuk-heading-xl">{{ data.v2.record[recordSet].title }}</h1>

      <form method="get" action="/version-2/warn-about-record-set/{{ recordSet }}?record_id={{ record_id }}&tab_id={{ tab_id }}" class="nhsuk-form">
        {% for recordId, record in data.v2.record[recordSet].items %}
            
            {# This is verbose, but is at least easy to read... #}
            {% if record.type == "text" %}
              {{ input({
                  label: {
                    text: record.title
                  },
                  hint: {
                    text: record.error or record.warning
                  } if (record.error or record.warning),
                  name: recordId,
                  value: record.value
                }) }}
            {% elif record.type == "number" %}
              {{ input({
                label: {
                  text: record.title
                },
                hint: {
                  text: record.error or record.warning
                } if (record.error or record.warning),
                value: record.value,
                name: recordId,
                classes: "nhsuk-input--width-5",
                inputmode: "numeric"
              }) }}
            {% elif record.type == "currency" %}
              {{ input({
                label: {
                    text: record.title
                },
                hint: {
                  text: record.error or record.warning
                } if (record.error or record.warning),
                name: recordId,
                prefix: "£",
                value: record.value,
                classes: "nhsuk-input--width-5"
              }) }}
            {% elif record.type == "date" %}
              {{ dateInput({
                fieldset: {
                  legend: {
                    text: record.title
                  }
                },
                hint: {
                  text: record.error or record.warning
                } if (record.error or record.warning),
                items: [
                  {
                    name: "day",
                    classes: "nhsuk-input--width-2"
                  },
                  {
                    name: "month",
                    classes: "nhsuk-input--width-2"
                  },
                  {
                    name: "year",
                    classes: "nhsuk-input--width-4"
                  }
                ]
              }) }}
            {% endif %}
            {# End: inputs #}

        {% endfor %}
        
        {{ button({
          text: "Save and continue"
        }) }}
      </form>

      
  </div>
</div>
{% endblock %}