{% extends 'layout.html' %}
{% set pageName = 'Pension record for ' + data.v2.pensioners[record].name %}

{% block beforeContent %}
  {{ backLink({
    href: "/version-2/search-results"
  }) }}
{% endblock %}

{% macro recordSummary(recordSet, tab) %}
{# Calculate how many missing values there are in this record set #}
{% set missingValues = 0 %}
{% for id, record in recordSet.items %}
  {% if record.valid == false %}{% set missingValues = missingValues + 1 %}{% endif %}
{% endfor %}

<div class="mccloud-summary-card">
  <div class="mccloud-summary-card__title-wrapper">
    {% if missingValues > 0 %}
      <h2 class="mccloud-summary-card__title">{{ recordSet.title }} ({{ missingValues }} invalid records)</h2>
      <a class="mccloud-summary-card__action" href="/version-2/edit-record-set/{{ recordSet.id }}?record_id={{ record }}&tab_id={{ tab }}">Fix <span class="nhsuk-u-visually-hidden">{{ recordSet.title | lower }}</span> records</a>
    {% else %}
      <h2 class="mccloud-summary-card__title">{{ recordSet.title }}</h2>
    {% endif %}
  </div>

  <div class="mccloud-summary-card__content">
    
    <dl class="nhsuk-summary-list">
      {% for id, record in recordSet.items %}
      {% if record.valid == false %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">{{ record.title }}</dt>
        <dd class="nhsuk-summary-list__value">
          {{ record.value | formatRecord(record.type) }}
          {% if record.value == '' %}<span class="mccloud-record-no-value">No value</span>{% endif %}
          <br><span class="mccloud-record-error">{{ record.error }}</span>
        </dd>
      </div>
      {% endif %}
      {% endfor %}

      {% for id, record in recordSet.items %}
      {% if record.valid != false %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">{{ record.title }}</dt>
        <dd class="nhsuk-summary-list__value">
          {{ record.value | formatRecord(record.type) }}
          {% if record.value == '' %}<span class="mccloud-record-no-value">No value</span>{% endif %}
        </dd>
      </div>
      {% endif %}
      {% endfor %}

    </dl>

  </div>
</div>
{% endmacro %}

{% block content %}
{% set personalDetailsHtml %}
{{ summaryList({
  classes: 'nhsuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data.v2.pensioners[record].name
      }
    },
    {
      key: {
        text: "Membership number"
      },
      value: {
        html: data.v2.pensioners[record].membershipNumber
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.v2.pensioners[record].dob | niceDate
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
      }
    }
  ]
}) }}
{% endset %}

<h1 class="nhsuk-heading-xl">{{ pageName }}</h1>
{{ tabs({ 
  items: [ 
    { 
      label: "Personal details", 
      id: "personal-details", 
      panel: { 
        html: personalDetailsHtml
      } 
    },
    { 
      label: "Current scheme", 
      id: "current-scheme", 
      panel: { 
        html:
          recordSummary(data.v2.record.schemeDetails, 'current-scheme') +
          recordSummary(data.v2.record.currentLegacySchemeBenefit, 'current-scheme')
      } 
    },
    { 
      label: "Option A", 
      id: "options-a", 
      panel: { 
        html: recordSummary(data.v2.record.optionALegacySchemeBenefit, 'options-a')
      } 
    },
    { 
      label: "Option B", 
      id: "options-b", 
      panel: { 
        html: "<p>Test</p>"
      } 
    }
  ] 
}) }}
{% endblock %}