{% extends 'layout.html' %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
              The batch was submitted for approval
            </h3>
        </div>
      </div>

      <h1 class="nhsuk-heading-l">
        Completed batches of records
      </h1>

      {{ table({
        responsive: true,
        panel: false,
        firstCellIsHeader: true,
        head: [
          {
            text: "Batch name"
          },
          {
            text: "Number of records"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              header: "Name",
              html: '<a href="batch-1">Batch 1</a>'
            },
            {
              header: "Number of records",
              text: "1,298"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 12</a>'
            },
            {
              header: "Number of records",
              text: "2,182"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 13</a>'
            },
            {
              header: "Number of records",
              text: "1,983"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 14</a>'
            },
            {
              header: "Number of records",
              text: "2,825"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 15</a>'
            },
            {
              header: "Number of records",
              text: "1,923"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 16</a>'
            },
            {
              header: "Number of records",
              text: "1,420"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 17</a>'
            },
            {
              header: "Number of records",
              text: "1,315"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="person-details">Batch 18</a>'
            },
            {
              header: "Number of records",
              text: "2,019"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 19</a>'
            },
            {
              header: "Number of records",
              text: "2,221"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Batch 20</a>'
            },
            {
              header: "Number of records",
              text: "3,001"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--yellow">
                Awaiting review
              </strong>'
            }
          ]
        ]
      }) }}

      <div class="nhsuk-u-padding-bottom-4"></div>

      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--ellipses">
            &ctdot;
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
              110
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>

      

    </div>
  </div>
{% endblock %}
