{% extends 'layout.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
       This batch is currently being worked on by someone else
      </h1>

      <p>Only one person can work on a batch at one time.</p> 

      {{ button({
        text: "Go to the next available batch",
        href: ""
      }) }}

      

    </div>
  </div>
{% endblock %}
