{% extends 'layout.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ radios({
        idPrefix: "example",
        name: "example",
        fieldset: {
          legend: {
            text: "Change [data field name]",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "Item 1",
            text: "Item 1"
          },
          {
            value: "Item 2",
            text: "Item 2"
          },
          {
            value: "Item 3",
            text: "Item 3"
          }
        ]
      }) }}

      

    </div>
  </div>
{% endblock %}
