{% extends 'layout.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="option-a" novalidate method="post">

      <h1 class="nhsuk-heading-l">
        Add 2015 payable date
      </h1>

      {{ input({
        label: {
          text: "2015 payable date"
        },
        id: "payable-date-of-benefits",
        name: "payable-date-of-benefits"
      }) }}

      {{ button({
        text: "Confirm"
      }) }}

      
    </form>
    </div>
  </div>
{% endblock %}