{% extends 'layout.html' %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            The record for membership number 12345678 was completed
            </h3>
        </div>
      </div>

      <h1 class="nhsuk-heading-l">
        Batch 12 records
      </h1>
      
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label"> <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            This batch has been rejected
          </span> </h3>
        <p>This means that some of the information needs to be updated and submitted again for review.</p>
      </div>
    
      <h2 class="nhsuk-heading-m">Rejected records</h2>

     
      {{ table({
        responsive: true,
        panel: false,
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Membership number"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              header: "Name",
              html: '<a href="rejected-data">Mrs Jane Doe</a>'
            },
            {
              header: "Membership number",
              text: "12345678"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--blue">
                Complete data
              </strong>'
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Mr Leo Gomez</a>'
            },
            {
              header: "Membership number",
              text: "53943130"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>
              '
            }
          ],
          [
            {
              header: "Name",
              html: '<a href="">Mr Harold Haynes</a>'
            },
            {
              header: "Membership number",
              text: "21689784"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>
              '
            }
          ]
        ]
      }) }}
      

    </div>
  </div>
{% endblock %}
