{% extends 'layout.html' %}

{% set questionPage = "false" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">
        Rejected batches
      </h1>

      {{ table({
        responsive: true,
        panel: false,
        firstCellIsHeader: true,
        head: [
          {
            text: "Batch name"
          },
          {
            text: "Number of records"
          },
          {
            text: "Last updated"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              header: "Name",
              html: '<a href="rejected-batch">Batch 12</a>'
            },
            {
              header: "Number of records",
              text: "2,182"
            },
            {
              header: "Last updated",
              text: "20 May 2025"
            },
            {
              header: "Legacy scheme",
              html: '<strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>'
            }
          ]
        ]
      }) }}

     

      

    </div>
  </div>
{% endblock %}
