{% extends 'layout.html' %}
{% from "includes/recordSummary.njk" import recordSummary %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-1/record"
  }) }}
{% endblock %}

{% set pageName = "Delete split benefit for " + data.v3t1.record[data.recordSet].title | lower %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      {% if errorsList %}
      {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorsList
        }) }}
      {% endif %}

      <span class="nhsuk-caption-xl">{{ data.member.name }}, {{ data.member.dob | formatRecord('date') }}</span>
      <h1 class="nhsuk-heading-xl">{{ data.v3t1.record[data.recordSet].title }}</h1>

      <p>Delete the split benefit?</p>

      <form method="post" action="delete-record-set?recordSet={{ data.recordSet }}" class="nhsuk-form">
        <input type="hidden" name="recordSet" value="{{ data.recordSet }}">
        <input type="hidden" name="doDelete" value="true">
        <div class="nhsuk-form-group">
          {{ recordSummary(data.v3t1.record[data.recordSet], '', '') }}
        </div>
        <div class="nhsuk-button-group">
          {{ button({
            text: "Delete split benefit",
            classes: "nhsuk-button--warning",
            preventDoubleClick: true
          }) }}
          <a href="record/{{ data.member.id }}" class="nhsuk-link">Cancel and return to member</a>
        </div>
      </form>

  </div>
</div>
{% endblock %}
