{% extends 'layout.html' %}
{% from "includes/recordSummary.njk" import recordSummary %}

{% set pageName = 'Pension record for ' + member.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-1/search"
  }) }}
{% endblock %}

{% block content %}
{% set personalDetailsHtml %}
{% set invalidRecords = 0 %}
{% for recordId, recordSet in data.v3t1.record %}
  {% for id, record in recordSet.items %}
    {% if record.valid == false %}
      {% set invalidRecords = invalidRecords + 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ summaryList({
  classes: 'nhsuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: member.name
      }
    },
    {
      key: {
        text: "Membership number"
      },
      value: {
        html: member.membershipNumber
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: member.dob | niceDate
      }
    }
  ]
}) }}
{% endset %}

{% if (complete and invalidRecords > 0) %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in the section “{{ data.v3t1.record[complete].title }}” are complete.</p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

{% if invalidRecords == 0 %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in this record are complete.<br><a href="./search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if excluded %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">This pension record has been excluded. <a href="./search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if newSplit %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">Added <a href="#{{ newSplit }}">{{ data.v3t1.record[newSplit].title }}</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

{% if data.deletedRecordSetTitle %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">Deleted {{ data.deletedRecordSetTitle }}</a></p>
{% endset %}

{{ notificationBanner({
  html: html
}) }}
{% endif %}

<h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">{{ pageName }}</h1>
<div class="nhsuk-button-group">
  <a href="#">Exclude this pensioner</a>
  <a href="../split-benefit">Add a split benefit</a>
</div>

{{ personalDetailsHtml | safe }}

<nav class="nhsuk-contents-list" role="navigation" aria-label="Sections in this record">
  <h2 class="nhsuk-heading-m">Sections in this record</h2>
  <ol class="nhsuk-contents-list__list">
    {% for recordId, recordSet in data.v3t1.record %}
    {% set missingValues = 0 %}
    {% set warningValues = 0 %}
    {% for id, record in recordSet.items %}
      {% if record.valid == false %}{% set missingValues = missingValues + 1 %}{% endif %}
      {% if record.warning %}{% set warningValues = warningValues + 1 %}{% endif %}
    {% endfor %}
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="#{{ recordSet.id }}">{{ recordSet.title }}</a>{% if missingValues > 0 %} ({{ missingValues }} {{ 'error' | plural(missingValues) }}{% if warningValues > 0 %}, {{ warningValues }} {{ 'warning' | plural(warningValues)}}{% endif %}){% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>

{% for recordId, recordSet in data.v3t1.record %}
{{ recordSummary(recordSet, '', true) }}
{% endfor %}

{% endblock %}
