{% extends 'layout.html' %}
{% set pageName = 'Pension record for ' + member.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-1/search"
  }) }}
{% endblock %}

{% macro recordSummary(recordSet, tab) %}
{# Calculate how many missing values there are in this record set #}
{% set totalErrors = 0 %}
{% set totalWarnings = 0 %}
{% for id, record in recordSet.items %}
  {% if record.valid == false %}{% set totalErrors = totalErrors + 1 %}{% endif %}
  {% if record.warning %}{% set totalWarnings = totalWarnings + 1 %}{% endif %}
{% endfor %}

<div class="mccloud-summary-card" id="{{ recordSet.id }}">
  <div class="mccloud-summary-card__title-wrapper">
    <h2 class="mccloud-summary-card__title">{{ recordSet.title }}{% if totalErrors > 0 %} ({{ totalErrors }} {{ 'error' | plural(totalErrors) }}{% if totalWarnings > 0 %}, {{ totalWarnings }} {{ 'warning' | plural(totalWarnings) }}{% endif %}){% endif %}</h2>
    <span class="record-actions">
      {% if data.v3t1.record[recordSet].canDelete %}<a class="mccloud-summary-card__action" href="#">Delete <span class="nhsuk-u-visually-hidden">{{ recordSet.title | lower }}</span> record</a>&nbsp;|&nbsp; {% endif %}
      <a class="mccloud-summary-card__action" href="../edit-record-set/{{ recordSet.id }}">Edit <span class="nhsuk-u-visually-hidden">{{ recordSet.title | lower }}</span> records</a>
    </span>
  </div>

  <div class="mccloud-summary-card__content">

    <dl class="nhsuk-summary-list">
      {% for id, record in recordSet.items %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">{{ record.title }}</dt>
        <dd class="nhsuk-summary-list__value">
          {{ record.value | formatRecord(record.type) }}
          {% if record.value == '' %}<span class="mccloud-record-no-value">No value</span>{% endif %}
          {% if (record.error and record.valid == false) %}<br><span class="mccloud-record-error">Error: {{ record.error }}</span>{% endif %}
          {% if record.warning %}<br><span class="mccloud-record-warning">Warning: {{ record.warning }}</span>{% endif %}
        </dd>
      </div>
      {% endfor %}
    </dl>

  </div>
</div>
{% endmacro %}

{% block content %}
{% set personalDetailsHtml %}
{% set invalidRecords = 0 %}
{% for recordId, recordSet in data.v3t1.record %}
  {% for id, record in recordSet.items %}
    {% if record.valid == false %}
      {% set invalidRecords = invalidRecords + 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ summaryList({
  classes: 'nhsuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: member.name
      }
    },
    {
      key: {
        text: "Membership number"
      },
      value: {
        html: member.membershipNumber
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: member.dob | niceDate
      }
    }
  ]
}) }}
{% endset %}

{% if (complete and invalidRecords > 0) %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in the section “{{ data.v3t1.record[complete].title }}” are complete.</p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

{% if invalidRecords == 0 %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">All items in this record are complete.<br><a href="./search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if excluded %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">This pension record has been excluded. <a href="./search">Find another record.</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  titleText: "Record status"
}) }}
{% endif %}

{% if newSplit %}
{% set html %}
  <p class="nhsuk-notification-banner__heading" class="nhsuk-notification-banner__heading">Added <a href="#{{ newSplit }}">{{ data.v3t1.record[newSplit].title }}</a></p>
{% endset %}

{{ notificationBanner({
  html: html,
  type: "success"
}) }}
{% endif %}

<h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">{{ pageName }}</h1>
<div class="nhsuk-button-group">
  <a href="#">Exclude this pensioner</a>
  <a href="../split-benefit">Add a split benefit</a>
</div>

{{ personalDetailsHtml | safe }}

<nav class="nhsuk-contents-list" role="navigation" aria-label="Sections in this record">
  <h2 class="nhsuk-heading-m">Sections in this record</h2>
  <ol class="nhsuk-contents-list__list">
    {% for recordId, recordSet in data.v3t1.record %}
    {% set missingValues = 0 %}
    {% set warningValues = 0 %}
    {% for id, record in recordSet.items %}
      {% if record.valid == false %}{% set missingValues = missingValues + 1 %}{% endif %}
      {% if record.warning %}{% set warningValues = warningValues + 1 %}{% endif %}
    {% endfor %}
    <li class="nhsuk-contents-list__item">
      <a class="nhsuk-contents-list__link" href="#{{ recordSet.id }}">{{ recordSet.title }}</a>{% if missingValues > 0 %} ({{ missingValues }} {{ 'error' | plural(missingValues) }}{% if warningValues > 0 %}, {{ warningValues }} {{ 'warning' | plural(warningValues)}}{% endif %}){% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>

{% for recordId, recordSet in data.v3t1.record %}
{{ recordSummary(recordSet, '') }}
{% endfor %}

{% endblock %}
