{% extends '../../layout.html' %}
{% set pageName = data.v2t3.batches[batchStatus].title %}

{% block content %}
<table class="nhsuk-table">
  <caption class="nhsuk-table__caption"><h1 class="nhsuk-heading-xl">{{ pageName }}</h1></caption>
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Batch ID</th>
      <th scope="col" class="nhsuk-table__header">Invalid records</th>
      <th scope="col" class="nhsuk-table__header">Status</th>
      <th scope="col" class="nhsuk-table__header">Created</th>
      <th scope="col" class="nhsuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for id, record in data.v2t3.batches[batchStatus].items %}
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ record.name }}</td>
      <td class="nhsuk-table__cell">{{ record.count }}</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--{{ data.v2t3.tags[record.tag].colour }}">{{ data.v2t3.tags[record.tag].name }}</strong></td>
      <td class="nhsuk-table__cell">{{ record.date | niceDate }}</td>
      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/v2/type-3/batch-details/{{ id }}?batchStatus={{ batchStatus }}">View batch</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
