{% extends '../../layout.html' %}
{% set pageName = data.v3t3.batches[batchStatus].title %}

{% block content %}

<h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

<p>Showing 1 to 10 of {{ [2,3,4,5,6]|random * 9 }} results</p>

<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Batch ID</th>
      <th scope="col" class="nhsuk-table__header">{{ "Completed records" if data.v3t3.currentBatch == "completed" else "Total records" }}</th>
      {% if data.v3t3.currentBatch == "outstanding" %}
      <th scope="col" class="nhsuk-table__header">Invalid records</th>
      {% endif %}
      {% if data.v3t3.currentBatch == "completed" %}
      <th scope="col" class="nhsuk-table__header">Excluded records</th>
      {% endif %}
      <th scope="col" class="nhsuk-table__header">Status</th>
      <th scope="col" class="nhsuk-table__header">Created</th>
      <th scope="col" class="nhsuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for id, record in data.v3t3.batches[batchStatus].items %}
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ record.name }}</td>
      <td class="nhsuk-table__cell">{{ record.count }}</td>
      {% if data.v3t3.currentBatch == "outstanding" or data.v3t3.currentBatch == "completed" %}
      <td class="nhsuk-table__cell">{{ (record.count / [5,7,9,12,14,19] | random) | int }}</td>
      {% endif %}
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--{{ data.v3t3.tags[record.tag].colour }}">{{ data.v3t3.tags[record.tag].name }}</strong></td>
      <td class="nhsuk-table__cell">{{ record.date | niceDate }}</td>
      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/v3/type-3/batch-details/{{ id }}?batchStatus={{ batchStatus }}">View batch</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
