{% extends '../../layout.html' %}
{% set pageName = "Batch " + batchId %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-3/batch/" + batchStatus
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

    {% if data.batchStatus == "awaitingApproval" %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-m">Generate letters from this batch</h2>
        <p>If the information in the batch is correct, you should approve it to generate the letters.</p>
        <a href="#" class="nhsuk-button">Approve and print</a>
      </div>
    </div>
    {% endif %}

    {% if data.batchStatus == "outstanding" or data.batchStatus == "awaitingApproval" %}
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="select-1">Filter by status</label>
      <select class="nhsuk-select" id="select-1" name="select-1">
        <option value="0">All records</option>
        {% if data.batchStatus == "outstanding" %}
        <option value="{{ 7 }}">{{ data.v3t3.tags[7].name }}</option>
        <option value="{{ 8 }}">{{ data.v3t3.tags[8].name }}</option>
        <option value="{{ 9 }}">{{ data.v3t3.tags[9].name }}</option>
        <option value="{{ 10 }}">{{ data.v3t3.tags[10].name }}</option>
        <option value="{{ 11 }}">{{ data.v3t3.tags[11].name }}</option>
        {% elseif data.batchStatus == "awaitingApproval" %}
        <option value="{{ 8 }}">{{ data.v3t3.tags[8].name }}</option>
        <option value="{{ 11 }}">{{ data.v3t3.tags[11].name }}</option>
        {% endif %}
      </select>
    </div>
    {% endif %}

    {% if batchStatus == 'completed' %}
    {% set currentTagId = 12 %}
    {% elseif batchStatus == 'rejected' %}
    {% set currentTagId = 9 %}
    {% endif %}

    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">Showing {{ data.v3t3.pensioners | length }} pensioners in this batch</caption>
      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-table__header">Name</th>
          <th scope="col" class="nhsuk-table__header">Membership number</th>
          <th scope="col" class="nhsuk-table__header">Status</th>
          <th scope="col" class="nhsuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for pensioner in data.v3t3.pensioners %}
        {% if batchStatus == 'outstanding' %}
        {% set currentTagId = pensioner.status.id %}
        {% elseif batchStatus == 'awaitingApproval' %}
        {% set currentTagId = [8,11] | random %}
        {% endif %}
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">{{ pensioner.name }}</td>
          <td class="nhsuk-table__cell">{{ pensioner.membershipNumber }}</td>
          <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--{{ data.v3t3.tags[currentTagId].colour }}">{{ data.v3t3.tags[currentTagId].name }}</strong></td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/v3/type-3/record/{{ pensioner.id }}">Review record</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% from 'pagination/macro.njk' import pagination %}

    {{ pagination({
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#",
          current: true
        },
        {
          number: 2,
          href: "#"
        },
        {
          number: 3,
          href: "#"
        },
        {
          number: 4,
          href: "#"
        },
        {
          number: 5,
          href: "#"
        },
        {
          number: 6,
          href: "#"
        },
        {
          number: 7,
          href: "#"
        },
        {
          ellipsis: true
        },
        {
          number: 12,
          href: "#"
        },
        {
          number: 13,
          href: "#"
        },
        {
          number: 14,
          href: "#"
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
