{% extends 'layout.html' %}
{% from "includes/recordSummary.njk" import recordSummary %}

{% set pageName = 'Pension record for ' + member.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/v3/type-3/search"
  }) }}
{% endblock %}

{% block content %}
{% set personalDetailsHtml %}
{% set invalidRecords = 0 %}
{% for recordId, recordSet in data.v3t3.record %}
  {% for id, record in recordSet.items %}
    {% if record.valid == false %}
      {% set invalidRecords = invalidRecords + 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ summaryList({
  classes: 'nhsuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: member.name
      }
    },
    {
      key: {
        text: "Membership number"
      },
      value: {
        html: member.membershipNumber
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: member.dob | niceDate
      }
    }
  ]
}) }}
{% endset %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl {% if data.ui == 'default' %}nhsuk-u-margin-bottom-2{% endif %}">{{ pageName }}</h1>
    {{ personalDetailsHtml | safe }}

    <nav class="nhsuk-contents-list" role="navigation" aria-label="Sections in this record">
      <h2 class="nhsuk-heading-m">Sections in this record</h2>
      <ol class="nhsuk-contents-list__list">
        {% for recordId, recordSet in data.v3t3.record %}
        {% set missingValues = 0 %}
        {% set warningValues = 0 %}
        {% for id, record in recordSet.items %}
          {% if record.valid == false %}{% set missingValues = missingValues + 1 %}{% endif %}
          {% if record.warning %}{% set warningValues = warningValues + 1 %}{% endif %}
        {% endfor %}
        <li class="nhsuk-contents-list__item">
          <a class="nhsuk-contents-list__link" href="#{{ recordSet.id }}">{{ recordSet.title }}</a>{% if missingValues > 0 %} ({{ missingValues }} {{ 'error' | plural(missingValues) }}{% if warningValues > 0 %}, {{ warningValues }} {{ 'warning' | plural(warningValues)}}{% endif %}){% endif %}
        </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% for recordId, recordSet in data.v3t3.record %}
    {{ recordSummary(recordSet, '') }}
    {% endfor %}
  </div>
</div>

{% endblock %}
