{% set pageName = "Prototype home" %}
{% set loggedIn = "false" %}
{% extends 'layout.html' %}


<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">You do not have permission to view this page</h1>
      <p class="nhsuk-body">If you think you should be able to access this page, you need to contact the support team.</p>

    </div>
  </div>
{% endblock %}
