{% extends 'layout.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        More information will need to be updated
      </h1>

      <p>Entering information for [label name A] means that more information needs to be added to complete the pension calculation.</p> 
      
      <p>These fields are:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>[label name c]</li>
        <li>[label name d]</li>
      </ul>

      {{ button({
        text: "Continue",
        href: "missing-data-added-data"
      }) }}

      

    </div>
  </div>
{% endblock %}
