{% extends 'layout.html' %}

{% set questionPage = "true" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}

{{ backLink({
  href: "javascript:history.back()",
  text: "Go back"
}) }}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Submit records for approval
      </h1>

      <p>This batch of records will be submitted for approval. The approver will review any changes you have made and may contact you for further information.</p>

      {{ button({
        text: "Submit records",
        href: "completed-batches-success"
      }) }}

      

    </div>
  </div>
{% endblock %}
