{% set pageName = "Prototype home" %}
{% set loggedIn = "false" %}
{% extends 'layout.html' %}


<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Immediate Choice prototype</h1>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">November 2025 iterations</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v3/type-1/">User type 1 (Pension Administrator) journey</a></li>
            <li><a href="/start/v3/type-2/">User type 2 (Quality Coaches) journey</a></li>
            <li><a href="/start/v3/type-3/">User type 3 (Manager) journey</a></li>
            <li><a href="/v3/style-guide">Guidance for component styles</a></li>
          </ul>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Changes covered by these iterations
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-body-s">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  Removed the footer links and moved the data reset to the prototype landing page (25 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Add highlighting to the active header nav item (25 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Display the 'Total records' column for for all batch statuses and 'Invalid records' only for outstanding batches (25 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  All: Search for member
                  <ul class="nhsuk-list nhsuk-body-s nhsuk-u-margin-left-4">
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                      Only accept valid format member numbers e.g. 8 digits
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                      Reduce width of text input to suggest 8 digits, and add a search hint
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                      Display the member record if a single match is found
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                      Display search results if multiple matches are found
                    </li>
                  </ul>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Add the count summary for number of batches e.g. Showing x of y records
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Completed batches task (see screenshot)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Completed records need to also include 'Cannot be processed / Excluded'
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Data complete labels
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Delete split benefit
                  <ul class="nhsuk-list nhsuk-body-s nhsuk-u-margin-left-4">
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                      Search for member (multiple tasks)
                    </li>
                  </ul>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--blue">Question</strong>&nbsp;
                  Should we change the date formats to the NHS preferred style? e.g. 25 Nov 2025
                </li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">September 2025 iterations</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v2/type-1/">User type 1 (Pension Administrator) journey</a></li>
            <li><a href="/start/v2/type-2/">User type 2 (Quality Coaches) journey</a></li>
            <li><a href="/start/v2/type-3/">User type 3 (Manager) journey</a></li>
            <li><a href="/v2/style-guide">Guidance for component styles</a></li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">May 2025</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v1/type-1/">User type 1 (Pension Administrator) flows</a></li>
            <li><a href="/start/v1/type-2/">User type 2 (Quality Coaches) flows</a></li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
        <div class="nhsuk-notification-banner__header">
          <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
            About this prototype
          </h2>
        </div>
        <div class="nhsuk-notification-banner__content">
          <p class="nhsuk-notification-banner__heading">
            Data in the prototype is stored temporarily. No real member data is used.<br/>
            <a class="nhsuk-notification-banner__link" href="/prototype-admin/reset?returnPage=%2F">Reset session data</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
