{% set pageName = "Prototype home" %}
{% set loggedIn = "false" %}
{% extends 'layout.html' %}


<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Immediate Choice prototype</h1>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">November 2025 iterations</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v3/type-1/">User type 1 (Pension Administrator) journey</a></li>
            <li><a href="/start/v3/type-2/">User type 2 (Quality Coaches) journey</a></li>
            <li><a href="/start/v3/type-3/">User type 3 (Manager) journey</a></li>
            <li><a href="/v3/style-guide">Guidance for component styles</a></li>
          </ul>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Changes covered by these iterations
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list nhsuk-body-s">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  Removed the footer links and moved the data reset to the prototype landing page (25 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Add highlighting to the active header nav item (25 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Display the 'Total records' column for for all batch statuses and 'Invalid records' only for outstanding batches (26 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: For completed batches, display 'Completed records' and 'Excluded records' columns (27 Nov)
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT1/UT2: Search for member
                  <ul class="nhsuk-list nhsuk-body-s nhsuk-u-margin-left-4">
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Implement error handling e.g. valid membership numbers, no blanks, etc. (26 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Reduce width of text input to suggest 8 digits, and add a search hint (26 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Display the member record if a single match is found (26 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Display search results if multiple matches are found (26 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Update search results to align with initial dev work (screenshot from Iwo) (26 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Assist the user by retaining search terms even if they aren't valid (27 Nov)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Link search results to actual member records
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Addressee name in personal details should ideally be overwritten with current member name
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--red">Bug</strong>&nbsp;
                      For records accessed from search results, the back link goes back to search but should go to the search results
                    </li>
                  </ul>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Add the count summary for number of batches e.g. Showing x of y records
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  Update column headings and data based on discussions in Teams thread
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Some of the batch statuses need updating based on the discussion in the review call e.g. completed records need to also include 'Cannot be processed / Excluded'<br/>
                  Question: Is this the same task as the column headers?
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Update the 'Data complete' labels<br/>
                  Question: I can't quite remember where this was needed?!?!
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Add example pagination navigation wherever it would be required
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: Make the search work for UT3
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  Delete split benefit
                  <ul class="nhsuk-list nhsuk-body-s nhsuk-u-margin-left-4">
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Separate the edit and delete actions into separate options from the record
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Remove the Delete button from the edit screen
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Show an example of a split benefit that can't be deleted (because it wasn't added through the UI)
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Create the separate screens for the delete function
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Date formats don't seem to be appearing properly for split benefits
                    </li>
                    <li>
                      <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                      Show a confirmation message on the record after deleting a split benefit
                    </li>
                  </ul>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  Fix the broken edit functionality – try editing a split benefit
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">To do</strong>&nbsp;
                  Fix the missing completion message display after editing a record set
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">Done</strong>&nbsp;
                  UT3: The 'view batch' page is missing some data
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--blue">Question</strong><br/>
                  Q: Should we change the date formats to the NHS preferred style? e.g. 25 Nov 2025<br/>
                  A: No. The SME preference is to stay consistent with the Pensions dates e.g. dd/mm/yyyy
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--blue">Question</strong><br/>
                  Q: Should Type 3 users be able to edit records (inc adding split benefits) or only view records<br/>
                  A: No, they should only be able to view them
                </li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">September 2025 iterations</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v2/type-1/">User type 1 (Pension Administrator) journey</a></li>
            <li><a href="/start/v2/type-2/">User type 2 (Quality Coaches) journey</a></li>
            <li><a href="/start/v2/type-3/">User type 3 (Manager) journey</a></li>
            <li><a href="/v2/style-guide">Guidance for component styles</a></li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">May 2025</h2>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/start/v1/type-1/">User type 1 (Pension Administrator) flows</a></li>
            <li><a href="/start/v1/type-2/">User type 2 (Quality Coaches) flows</a></li>
          </ul>
        </div>
      </div>

      <div class="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
        <div class="nhsuk-notification-banner__header">
          <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
            About this prototype
          </h2>
        </div>
        <div class="nhsuk-notification-banner__content">
          <p class="nhsuk-notification-banner__heading">
            Data in the prototype is stored temporarily. No real member data is used.<br/>
            <a class="nhsuk-notification-banner__link" href="/prototype-admin/reset?returnPage=%2F">Reset session data</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
