{% set pageName = "Prototype home" %}
{% set loggedIn = "false" %}
{% extends 'layout.html' %}


<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Immediate Choice prototype</h1>

      <h2 class="nhsuk-heading-l">September 2025 testing versions</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="/start/v2/type-1/">User type 1 (Pension Administrator) journey</a></li>
        <li><a href="/start/v2/type-2/">User type 2 (Quality Coaches) journey</a></li>
        <li><a href="/start/v2/type-3/">User type 3 (Manager) journey</a></li>
        <li><a href="/v2/style-guide">Guidance for component styles</a></li>
      </ul>
      <h2 class="nhsuk-heading-l">May 2025 testing version</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="/start/v1/type-1/outstanding-batches">User type 1 (Pension Administrator) flows</a></li>
        <li><a href="/start/v1/type-2/outstanding-batches">User type 2 (Quality Coaches) flows</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
