{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        Log in
      </h1>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="email">
          Email address
        </label>
        <input class="nhsuk-input" id="email" name="email" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="password">
          Password
        </label>
        <input class="nhsuk-input" id="password" name="password" type="text">
      </div>

      <p class="nhs-body"><a href="">Reset your password</a> if you can not remember it.</p>

      {{ button({
        text: "Continue",
        href: "all-records"
      }) }}

    </div>
  </div>
{% endblock %}
